body {
    margin-left: 280px;
    margin-top: 80px;
    background-color: #00cc00;
}

#game-screen {
    display:   block;
    border:  #009933 groove 8px;
}
#gameOver, #playHUD, #startScreen {
    position: absolute;
    visibility: hidden;
    padding: 0px;
}

#startScreen{
    position: absolute;
    visibility: visible;
    padding: 0px;
}

#gameOver {
    margin-top: 100px;
    margin-left: 330px;
}

#playHUD {
    margin-left: 355px;
}

h1, h2, h3, h4 {
    font-family: 'Indie Flower', cursive;
    color: orangered;
    text-align: center;
}

.title {
    font-size: 62px;
    margin: 0px;
    margin-top: 0px;
}

#restartButton {
    border: 2px groove darkgreen;
    border-radius: 12px;
}

#restartButton:hover {
    background-color:  #009933;
}

#scoreboard {
    margin: 0px;
}