body {
    margin-left: 280px;
    margin-top: 80px;
    background-color: #00cc00;
}


#game-screen {
    display:   block;
}
#gameOver {
    position: absolute;
    visibility: hidden;
    padding-left: 200px;
    
}

h1, h3 {
    font-family: 'Indie Flower', cursive;
    color: darkgreen;
    text-align: center;
}

.title {
    font-size: 62px;
    margin: 0px;
    margin-top: 0px;
}

#restartButton {
    border: 2px groove darkgreen;
    border-radius: 12px;
}

#restartButton:hover {
    background-color:  #009933;
}